[2017-06-13 20:27] hashibot opened #1 "Support cloudstack_template with multiple zones"
_This issue was originally opened by @larstobi as hashicorp/terraform#13929. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
0.9.1

### Affected Resource(s)
- cloudstack_template

### Terraform Configuration Files
[code]

### Expected Behavior
I

[2017-06-16 09:37] Evesy opened #2 "Terraform Crashes on Security Group Removal"
### Terraform Version
Terraform v0.9.8

### Affected Resource(s)
Please list the resources as a list, for example:
- cloudstack_security_group
- cloudstack_security_group_rule

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/Evesy/f770afc68a1f8cd8c005e8443c03773a

### Panic Output
https://gist.github.com/Evesy/429b8d202b774480d5ade503354cadc9

### Expected Behavi

[2017-06-27 18:16] #2 closed

[2017-08-10 10:31] snooops opened #10 "support ssl offloading on the loadbalancer"
Hi,

please add the feature to create ssl offloaded loadbalancer: https://cwiki.apache.org/confluence/display/CLOUDSTACK/SSL+Termination+Support#SSLTerminationSupport-NewWebserviceAPIsforCertificateManagement

since 4.3 there is an api support available.

[2017-08-11 11:10] snooops opened #12 "Terraform shows an error if too many networks are supplied"
### CloudStack Version
4.9.2.0-1.el7.centos
### Terraform Version
Terraform v0.10.0

### Affected Resource(s)
- cloudstack_network

### Terraform Configuration Files
[code]

### Expected Behavior
terraform should not receive an error

### Actual Behavior
Terraforms returns some random network errors but at cloudstack all networks are valid and up and stable:

9 error(s) occurred:

* cloudstack_net

[2017-08-11 11:16] snooops opened #13 "Terraform deletes all networks and associated vpcs if you add one new or delete one"
### CloudStack Version
4.9.2.0-1.el7.centos

### Terraform Version
Terraform v0.10.0

### Affected Resource(s)
- cloudstack_vpc
- cloudstack_network

### Terraform Configuration Files
[code]

### Expected Behavior
newnetwork should be created without destroying public and network1.

### Actual Behavior
if you apply this, you get a vpc called myvpc and two networks: public and network1. after the a

[2017-08-11 15:35] apparentlymart commented on #12
Hi @snooops! Sorry this is failing in a useless way.

Often errors of this type result when an API returns an error using a different serialization format than is expected for successful responses. In this case, it looks like the API returned either HTML or XML where JSON was expected.

Running terraform with the environment variable `TF_LOG=debug` will produce verbose logging that might include m

[2017-08-11 19:21] svanharmelen commented on #12
@snooops I'm guessing you hit a CloudStack bug here. All your networks are created in parallel, and CloudStack is ok with that, but the router VM isn't.

I'm on holiday so only have my phone with me and cannot lookup the details easily. But you can verify my assumption by adding an explicit `depends_on` between each network. So network10 depends on network9, network9 depends on network8 and so on.

[2017-08-11 19:33] svanharmelen commented on #13
@snooops I cannot reproduce this. Would it be possible that you add the output of `terraform show` after creating the vpc, public and network1 networks and before adding the newnetwork?

And then please also add the output of `terraform plan`, just after adding the newnetwork config to your main.tf (so before running `terraform apply`).

Hopefully that will give me some insights to work with...

[2017-08-11 20:56] snooops commented on #12
Ok, i tried it with depends_on and have set TF_LOG=debug, here is the output after the last working network:

cloudstack_network.network5: Creation complete (ID: 44b68d33-0595-4366-82f4-43fd19008eea)
2017/08/11 22:44:27 [DEBUG] dag/walk: walking "cloudstack_network.network6"
2017/08/11 22:44:27 [DEBUG] vertex 'root.cloudstack_network.network6': walking
2017/08/11 22:44:27 [DEBUG] vertex 'root.clou

[2017-08-12 05:22] svanharmelen commented on #12
Hmm... OK, so it doesn't look like you are hitting the bug I was thinking about. But still you clearly receive a CloudStack error, so the root cause of this problem should be searched for in the CloudStack logs. That is the only place that will show the real problem/error.

Do you run CloudStack yourself, or do you use a hosted service? If you run CloudStack yourself you have all the logs availabl

[2017-08-14 06:55] snooops commented on #13
Here is the output of terraform plan

[code]

[2017-08-14 08:18] svanharmelen commented on #13
If you look closely you see that `vpc_offering` of `myvpc` is causing the VPC to be recreated. You would also get this without changing your config (so without adding `newnetwork`), and just running another `apply` after your initial deployment.

The problem is that CloudStack accepts the name `Default VPC Offering`, but the actual name of the offering is `Default VPC offering` (notice that `offer

[2017-08-14 09:16] snooops commented on #13
Wow, thanks a lot :D now its going to be great ;)

[2017-08-14 09:49] snooops commented on #12
Ok, i have found some Java exceptions at the management logs of cloudstack, i have reported them and will report the feedback if i get some ;)

[2017-08-14 10:10] svanharmelen commented on #13
Cool :+1:

[2017-08-14 10:10] #13 closed

[2017-08-14 12:13] snooops commented on #12
Its hitting a limitation of the hypervisor. Im using XenServer which supports 7 NICs / VM (https://docs.citrix.com/content/dam/docs/en-us/xenserver/xenserver-7-0/downloads/xenserver-7-0-config-limits.pdf) . CloudStack dont handles the limitation correctly, thats the reason for this exception. There is already a ticket open: https://issues.apache.org/jira/browse/CLOUDSTACK-9999

I guess you can clo

[2017-08-14 15:25] svanharmelen commented on #12
Yes, this fits my expectations :wink: Thanks for the feedback!

[2017-08-14 15:25] #12 closed

[2017-08-25 07:26] mcanevet opened #15 "Add a cloudstack_template datasource"
It would be nice to have a `cloudstack_template` datasource that would return the latest template matching a pattern. For example:
[code]

[2017-08-25 07:27] mcanevet commented on #15
@svanharmelen I looked a bit at go-cloudstack, but I'm not sure I can implement this datasource with the currently available functions.

[2017-08-25 08:03] svanharmelen commented on #15
As discussed on Slack, I don’t think this is something that should be added to the `go-cloudstack` package. Instead I think you should create this logic in the data resource itself.

So just do a list of all templates and then search true them matching the names against the regex and maybe using the create date to determine which is the latest version.

I'll close this issue now since we discussed

[2017-08-25 08:03] #15 closed

[2017-08-25 09:12] mcanevet commented on #15
@svanharmelen as this is the very first datasource for this provider I'll not be able to use my usual Copy Paste Replace Driven Development :-)
I'll try to figure out how to do it but it would take me a lot a time.
Do you have the skills (and time) to it quickly?

[2017-08-25 11:58] svanharmelen commented on #15
Would be easy enough I think, but I don't have time today... Maybe next week I can whip something up, but no promises whatsoever!

You could also check out some of the data resources of other providers. They could be a good starting point I guess.

If you create a first WIP PR, we can take it from there I guess.

[2017-09-20 20:20] hashibot opened #17 "Terraform crash on "terraform destroy""
_This issue was originally opened by @brucegl as hashicorp/terraform#16140. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi there,

I received the !!! TERRAFORM CRASH !!! message, so I'm reporting the version and crash log as requested by the message.

### Terr

[2017-09-22 13:46] #17 closed

[2017-10-02 23:14] brucegl opened #20 "Support source and destination CIDRs in cloudstack 4.10 egress firewall"
Hi there,

I couldn't see or work out if source and destination CIDRs are supported in cloudstack_egress_firewall. Not sure if cloudstack introduced a customer breaking change here in version 4.10. Thoughts and timescales would be very much appreciated.

Thanks

[2017-10-02 23:31] brucegl commented on #20
Ah, I see I can just enter the source CIDR and omit the optional destination CIDR for now. My request is now more about support for cloudstack 4.10.

Thanks

[2017-11-27 10:21] hashibot opened #23 "Encoding issue breaks VPN Customer Gateway on Cloudstack"
_This issue was originally opened by @NuxRo as hashicorp/terraform#16744. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hello,

I am trying to create a simple VPN Customer Gateway in a test Cloudstack environment and I never seem to succeed.

The tf file looks l

[2017-12-19 12:44] landro opened #25 "Not defining tags attribute should not trigger change"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

➜  digi_opstest git:(master) terraform --version
Terraform v0.11.1
+ provider.aws v1.6.0
+ provider.cloudstack v0.1.2

### Affected Resource(s)

Please list the resources as a list, for example:
- cloudstack_instance a

[2017-12-20 14:07] svanharmelen commented on #23
@NuxRo I looked ad this one, and the CS API always expects the values to be URL encoded. So I'm very curious how you determined that `cloudmonkey` sends the value as `aes128-sha256;modp2048`?

I just tried it myself and the CS logs show me it received the value as `sha1-aes256%3Bmodp2048`.

Also the link to the logfile doesn't work anymore. And last question; which version of CS are you using?

[2017-12-20 14:32] NuxRo commented on #23
Hello @svanharmelen
I determined that by checking the cloudstack logs on the management server.
Here are the same logs, I hate fpaste expiring things so early:
http://tmp.nux.ro/7sP-vpngwtf.txt

You can see above the difference I was talking about.

[2017-12-20 14:45] svanharmelen commented on #23
And what version of CS are you running?

It does look very wierd looking at your file. The first line of each log snipped shows how the request was received. And those are exactly the same!

TF:
[code]

So the IKE policy is encoded as `ikepolicy=sha1-aes256%3Bmodp2048`

CloudMonkey:
[code]

And here it's also encoded: `ikepolicy=aes128-sha256%3Bmodp2048`

I do notice you used different values for

[2017-12-20 14:59] NuxRo commented on #23
Yeah, I used different values, but I've gone through so many.. none worked.
I'm on ACS 4.10.0.0

However after  having left this alone for weeks, I've now tried the following and it worked!
I'm using this in the tf file:
  ike_policy = "aes128-sha256;modp2048"

It must have been invalid value.. Sorry for the noise. I'll let you know if I hit any more issues related to this.

[2017-12-20 15:01] svanharmelen commented on #23
Cool... Good that it's solved now.

[2017-12-20 15:01] #23 closed

[2017-12-20 15:04] svanharmelen commented on #25
Hi @landro,

Thanks for the report! The problem should be fixed in master now. I'll poke our HashiCorp friends to see if we can create a new release to fix this problem...

Cheers!

[2017-12-20 15:42] svanharmelen commented on #25
@landro a new build is currently being released, so you can update and retry in a bit...

[2017-12-20 15:44] landro commented on #25
Thanks! Great stuff. I’ll give it a shot tomorrow!

[2017-12-21 12:45] saimonn opened #27 "root_disk_size changed on cloud provider side isn't synced to state"
I updated my instance root disk size from 50 too 200GB on the cloud provider web interface (exoscale).
After running terraform plan, I expected the state to sync with the cloud provider API, but it still showed 50GB.

I fixed this with the workflow `terraform state pull | edit s/50/200/ | terraform state push`, but I think the provider cloud be fixed to handle that case.

### Terraform  v0.11.1

[2017-12-21 13:03] svanharmelen commented on #27
@saimonn a plan will not change/update your state file. In these cases a `terraform refresh` should do the trick... Could you try that one to confirm things work as expected?

[2017-12-21 13:51] svanharmelen commented on #27
It does a dry-refresh, but this will not change/update your state file. It will only use the refreshed state in memory.

Fixed the problem in PR #28

[2017-12-21 13:51] #27 closed

[2017-12-21 14:16] saimonn commented on #27
Thank for your quick PR !

[2017-12-22 10:04] landro commented on #25
works like a charm! Thanks again, @svanharmelen !

[2017-12-22 15:31] landro commented on #25
Just ran in to a related issue this afternoon using the new version of the provider.
```CloudStack API error 431 (CSExceptionErrorCode: 9999): Unable to execute API command createtags due to missing parameter tags.```
 Issue occured when I tainted an existing instance that didnt't have tags, and recreated it.

[2017-12-23 09:46] svanharmelen commented on #25
Hmm... Thanks, I’ll have a look later today...

[2018-01-26 09:09] landro commented on #25
Have been using 0.1.4 for a few days now. Works as expected! Thanks!

[2018-01-26 09:43] svanharmelen commented on #25
Glad to hear that. Thanks for the update @landro

[2018-03-01 19:57] icornett opened #30 "Unable to create firewall rule for the IP address ID=## as IP is not associated with any network and no networkId is passed in"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2018-03-01 20:41] svanharmelen commented on #30
Hi @icornett, it looks like you're using the wrong resource for your setup. It's not very clear from the docs (or from the CloudStack API docs for that matter), but the `cloudstack_firewall` resource only work for IP addresses associated with a guest network.

As you are using a VPC network, the solution is to connect a `cloudstack_network_acl` to your network and then use the `cloudstack_network_

[2018-03-01 22:10] icornett commented on #30
Hi @svanharmelen, that did it!  That isn't very well documented anywhere, but that seems to be the way with Cloudstack in general.   Thanks for the assist, this can be closed.

[2018-03-01 22:10] #30 closed

[2018-03-09 15:51] MRinalducci opened #31 "Request Network ACL Rules number support"
Hi,

After reviewing the code of [resource_cloudstack_network_acl_rule.go](https://github.com/terraform-providers/terraform-provider-cloudstack/blob/master/cloudstack/resource_cloudstack_network_acl_rule.go)
it seems not possible to specify a "rule number" parameter for ordering them.

This is a important feature in firewalling when you need that rules are ordered.

Moreover the function `SetNumbe

[2018-03-09 19:58] svanharmelen commented on #31
@MRinalducci the rules are ordered. That is, they are applied in the order that you defined them in your Terraform config.

But your point is still valid and it should be pretty straightforward to add support for the `number` parameter. I will try to find some time for it next week...

[2018-03-09 21:30] MRinalducci commented on #31
@svanharmelen thanks for your quick reply!

Yes, this is true for the first creation, but not when you update them (as I tested).
For example, initially you define 3 rules in your Terraform code:

- Rule 1
- Rule 2
- Rule 3

Then you want to insert a new rule between 1 and 2 in your TF code:

- Rule 1
- Rule 4
- Rule 2
- Rule 3

Because rule 1, 2 and 3 are already existing in the ACL, it will add

[2018-03-09 21:38] svanharmelen commented on #31
Interesting observation! Thanks for the details 👍🏻

[2018-03-12 10:58] svanharmelen commented on #31
@MRinalducci it turns out this is a little more complicated then I initially expected.

The problem is that the `cloudstack_network_acl_rule` resource allows you to specify a list of ports in a single `rule` block, where CloudStack only allows one port (or port range) per rule. So the resource is actually able to generate (and keep track of) multiple rules generated for a single `rule` block in th

[2018-03-12 13:01] MRinalducci commented on #31
@svanharmelen that's right, I didn't saw that problem at first look.

Yes, this would be nicest solution of both (I think too). This will also avoid to always put a rule number. But, we have to be aware to keep the right order also when we declare 2 or more `cloudstack_network_acl_rule` resources.
I mean the ordered rules declared in the second resource have to be placed after the ordered rules of

[2018-03-12 13:28] greut commented on #31
`cidrlist` has the same kind of behaviour than `ports` I guess.

[2018-03-12 14:09] svanharmelen commented on #31
I’m going to look into that option then @MRinalducci.

And CloudStack does accept CIDR lists @greut, so it’s only for `ports`.

[2018-03-12 14:11] greut commented on #31
@svanharmelen doesn't it create many rules from the `cidrlist`, like it does for the ingress/egress rules.

[2018-03-12 16:00] MRinalducci commented on #31
@svanharmelen I think we have also to be aware of argument `parallelism (Optional) Specifies how much rules will be created or deleted concurrently. (defaults 2)` which can sometimes change the ordering (to be confirmed).

[2018-03-12 16:17] svanharmelen commented on #31
@MRinalducci yeah, good one... Will take that into account. Didn't have time to continue on this today, but will have another look tomorrow.

[2018-03-12 16:21] svanharmelen commented on #31
@greut no, it doesn't: https://github.com/terraform-providers/terraform-provider-cloudstack/blob/master/cloudstack/resource_cloudstack_network_acl_rule.go#L188-L193

[2018-03-27 22:56] fvhovell opened #35 "Allow creating cloudstack_instance in stopped state"
Please add the ability to create but not start an instance in cloudstack, e.g. using a new boolean argument `running` or `state` inside an `cloudstack_instance`.

This could be implemented using parameter `startvm` in the [deployVirtualMachine](http://cloudstack.apache.org/api/apidocs-4.11/apis/deployVirtualMachine.html) call.

[2018-03-28 05:12] greut commented on #35
[exoscale][1] (another CS) does it via `state =  "Stopped"`. What's important to know is that the Nic doesn't get any IP addresses at this stage. The `update` phase might become trickier.

[1]: https://github.com/exoscale/terraform-provider-exoscale/pull/79

[2018-03-29 09:01] MRinalducci commented on #31
Hello @svanharmelen, any update about this issue?

[2018-03-29 10:55] svanharmelen commented on #31
@MRinalducci, yes... I don't have much dedicated time to work on this, so I try to look at it in lost moments here and there :wink: It turns out to be a little more complex then you would expect, but I think I'm close to a solution. Will keep you posted!

[2018-03-29 11:36] MRinalducci commented on #31
@svanharmelen thank you very much for your update and your work on this issue. Yes, as discussed it is more complex than expected, but it's great that you're near a solution! :+1:

[2018-04-04 10:41] svanharmelen commented on #35
Seems reasonable. Will try to have a look at this today or tomorrow...

[2018-04-24 16:47] MRinalducci commented on #31
Thanks for the update :)

[2018-04-26 09:32] jolbax opened #36 "root_disk_size unit changes after creation of instance (GB to Bytes)"
Hi there,

After creating any instance the units of the `root_disk_size` parameter are changed in the terraform state making it inconsistent agains the code. And trying to force the creation of a new resource.

### Terraform Version
Terraform v0.11.7
+ provider.cloudstack v0.1.4
+ provider.template v1.0.0

### Affected Resource(s)
- cloudstack_instance

### Terraform Configuration Files
[code]
[co

[2018-04-26 09:35] greut commented on #36
https://github.com/terraform-providers/terraform-provider-cloudstack/pull/32

[2018-04-26 09:40] svanharmelen commented on #36
I've asked for a new release just now, so I assume a new release including this fix will be available later today... Will update here when it's done.

[2018-04-26 11:39] jolbax commented on #36
Thanks guys for the ultra quick answer!

[2018-04-26 11:39] #36 closed

[2018-04-27 08:53] svanharmelen commented on #36
@jolbax @greut a new version (v0.1.5) containing this fix is just released 🎉

[2018-08-25 09:48] fvhovell opened #40 "Add support for importing cloudstack_* entities"
To easily allow importing existing infrastructure to come under control of terraform.

For starters the following seem reasonable:
- cloudstack_ssh_keypair
- cloudstack_security_group
- cloudstack_instance

[2018-08-28 14:53] MRinalducci commented on #31
@svanharmelen any update about this issue? :)

[2018-08-28 20:04] svanharmelen commented on #31
Yes and no... There is still an open tab in my browser and the wish to fix it, but without direct access to a running CloudStack API it's a bit harder to work on this then before.

I'll see what I can do to get some API access and take it from there...

[2018-08-29 08:13] MRinalducci commented on #31
Oh I see the problem...
I hope you can get some API access soon for testing.
Thanks for the input!

[2018-10-16 15:01] romerojunior commented on #40
* cloudstack_vpc
* cloudstack_network

also quite useful to have the above implemented

[2018-10-16 19:49] romerojunior commented on #40
Apparently, due to Cloudstack UUID nature it might be possible to simple add the importer as such:

[code]

I've tested it with: `terraform import cloudstack_vpc.my_vpc <id>` and it went quite ok.

[2018-10-30 10:26] gregkare opened #43 "Expected VirtualMachine.ostypeid to be an int64, was a string (on Exoscale)"
### Terraform Version
[code]

Same issue with 0.11.8 (the earliest version I can try, since my state file was last updated using this one), 0.11.9. I have also tried the cloudstack providers version 0.1.0 to 0.1.5

### Affected Resource(s)
- cloudstack_instance

### Terraform Configuration Files

Nothing special, using `cloudstack_instance` among others

### Debug Output
Please provider a link to

[2018-10-30 10:30] greut commented on #43
Hi @gregkare actually it's Exoscale's fault here. Did you try our provider?

https://github.com/exoscale/terraform-provider-exoscale

[2018-10-30 10:31] gregkare commented on #43
@greut Hi! Thanks, I did not know there was an exoscale provider. Trying that now.

[2018-10-31 07:20] svanharmelen commented on #43
@gregkare does using the Exoscale provider solve your problem? I.e. can this issue be closed?

[2018-10-31 07:45] greut commented on #43
@svanharmelen the easy way out of this is, the way I see it:

- for us to release a patched `terraform-provider-cloudstack`
- for us to inform our clients that we are slightly incompatible with upstream cloudstack, and it will get worse (mostly for the better)
- for @gregkare to use the fork'd provider (for now), and migrate to the exoscale provider in the long run...

Does it make sense for you?

[2018-10-31 09:04] svanharmelen commented on #43
I guess... But probably @gregkare should answer that :wink: As it will be nasty to use the forked provider in automation (i.e. `terraform init` will always get the official provider).

In the end I think @gregkare needs to plan to switch over to the Exoscale provider. Especially if you foresee more incompatibility issues down the road. But that is up to @gregkare of course!

As for the Exoscale pr

[2018-10-31 09:05] mcanevet commented on #43
@greut we hit this bug right now on Exoscale. It is not clear for us what provider we should use : https://github.com/exoscale/terraform-provider-cloudstack/releases or https://github.com/exoscale/terraform-provider-exoscale/releases?

[2018-10-31 09:09] greut commented on #43
We are in the queue waiting with the others.

@mcanevet I would warmly encourage you to migrate to the `terraform-provider-exoscale` one. It requires a bit of work to reimport everything though.

In the meantime the fork makes it possible to keep using the _cloudstack_ provider. If you need any help with the import, or have missing features, let us know.

[2018-10-31 09:19] mcanevet commented on #43
@greut well... I think we unfortunately don't have the choice. We'll probably have to migrate all our Exoscale projects to your provider. That means that we'll have to change our terraform manifests and update the state.
Do you think that something slightly like this could work?
[code]

[2018-10-31 10:47] gregkare commented on #43
I'm in the process of importing our existing resources using the terraform-provider-exoscale, I will report back here

[2018-10-31 12:41] gregkare commented on #43
Update: I have managed to import all our resources using terraform-provider-exoscale. The biggest change was the security group rules, as with the Exoscale provider the mapping of rules is 1:1 whereas with the cloudstack provider you could have multiple rules.

`cloudstack_instance` becomes `exoscale_compute`, its `service_offering` becomes `size`, its `name` becomes `display_name`, `disk_size` be

[2018-10-31 14:04] greut commented on #43
@gregkare good job! Thanks for the feedback on your journey, much appreciated.

Yeah... I'm well aware of the limitations on the security group rules... https://github.com/exoscale/terraform-provider-exoscale/issues/194

[2018-10-31 15:15] gregkare commented on #43
Closing this one since https://github.com/exoscale/terraform-provider-exoscale works. Thanks

[2018-10-31 15:15] #43 closed

[2018-12-14 14:54] 3guboff commented on #40
It's base functional for working with terraform, please do this asap ...

[2018-12-21 15:25] gurubert opened #45 "terraform destroy fails when IP is used for source NAT"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.11.11
+ provider.cloudstack v0.1.5

[code]

The network offering uses the first IP that is created as source NAT. This seems to affe

[2018-12-22 09:41] svanharmelen commented on #45
Hi @gurubert, thanks for opening this issue! I think the big question is how this is solved by CloudStack itself? So are you able to release/destroy the IP using the web UI or any API calls? As it seems to be a limitation of the current API aka CloudStack itself.

If I'm correct, with older versions of CloudStack a network with the source NAT service would always get an IP for the NAT service when

[2018-12-23 08:34] gurubert commented on #45
Cloudstack seems to create this dependency internally.
I am only able to delete the whole network instance via the web UI.
I have no idea how to solve this for "terraform destroy".

[2018-12-23 08:40] svanharmelen commented on #45
Thanks for the update. I also thought about this and have an idea how we can solve this issue.

I’m working on updating some other bits as well (as a holiday project) so will add this to my list of things to fix/update.

I expect to be able to release a new version of the provider somewhere during the holidays.

[2018-12-26 09:52] #45 closed

[2018-12-27 13:03] svanharmelen commented on #20
We just updated the provider (still needs be be released) to support CS 4.11.2.0, so that should fix this issue.

[2018-12-27 13:03] #20 closed

[2018-12-27 13:09] #10 closed

[2019-01-04 09:10] gurubert opened #52 "cloudstack_network source_nat_ip does not work"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.11.11
+ provider.cloudstack v0.1.5

### Affected Resource(s)
- cloudstack_network

### Terraform Configuration Files
[code]
The netw

[2019-01-04 09:17] gurubert commented on #52
The source NAT IP is created even if source_nat_ip is not specified.

[2019-01-04 09:21] svanharmelen commented on #52
Hi @gurubert! I thought we already discussed this one in issue #45, but I guess the outcome wasn't mentioned very clearly there.

This is something that changed within CloudStack. With older CS versions you would get a source NAT IP directly when creating a network which supported the source NAT service. Newer versions no longer do this automatically and they require you to add a public IP yoursel

[2019-01-04 09:34] gurubert opened #53 "Enable VPN on source NAT IP for network"
Hi,

### Terraform Version
Terraform v0.11.11
+ provider.cloudstack v0.2

A cloudstack network offering can enable an L2TP IPsec VPN on its source NAT IP.

It would be nice if this could be configured via terraform.

[2019-01-04 09:38] gurubert commented on #52
The attribute source_nat_ip was not available in version 0.1.5 of the provider but after "terraform apply" nevertheless a source NAT IP had been created.

In version 0.2 of the provider the attribute is available but setting it to "false" on a network offering that includes source natting the effect is that the network is *not* created:

[code]

[2019-01-04 09:54] gurubert commented on #52
The timeout may not be caused by source_nat_ip as I also get it without it. :(

I have ```timeout = "1200"``` in the ```provider "cloudstack"``` section of the terraform file, but this does not seem to help.

Looking into the CloudStack web GUI the network has been created.

[2019-01-04 10:01] svanharmelen commented on #52
So in that case it looks like you are using a CloudStack version that still automatically assigns a public IP when a network is created with source NAT support. Can you share which version of CS you are using?

That should not happen. I'll have a look at that.

[2019-01-04 10:09] svanharmelen commented on #52
No, this timeout is the time allowed for Cloudstack to complete an asynchronous job. But the error you are getting is related to the HTTP client which isn't configurable from the CS provider and which hasn't changed between versions `0.1.5` and `0.2.0`.

So if you use `0.1.5` it works fine and if you switch to `0.2.0` you can this timeout error? And you are using the exact same TF config and CS en

[2019-01-04 10:33] svanharmelen commented on #52
Ah... Then it looks like there is an issue with your local network and/or CloudStack setup causing HTTP requests to take more than 60 seconds to complete. Is your CS service under very high load maybe? Either way these timeouts are, most likely, not an issue with the CS provider.

[2019-01-04 12:05] gurubert opened #54 "terraform import cloudstack_network does not work"
Hi,

### Terraform Version
Terraform v0.11.11
+ provider.cloudstack v0.2.0

### Affected Resource(s)
- cloudstack_network

### Debug Output
https://gist.github.com/gurubert/471cbfe97ad8d16de3729a7e0bd5b845

### Expected Behavior
The network is imported

### Actual Behavior
The network has not been imported

### Important Factoids
The network has been defined within a project and is only listed in

[2019-01-08 17:34] svanharmelen commented on #52
Hi @gurubert! Is this still an issue, or are the timeout errors solved/gone now?

[2019-01-08 18:08] gurubert commented on #52
It looks like the timeouts where produced by a non-working network offering that I tried to use.
I was able to resolve this eith the CloudStack team today.

[2019-01-08 18:08] #52 closed

[2019-01-16 09:31] gurubert commented on #53
Hi @svanharmelen ,

I found these API calls:
https://cloudstack.apache.org/api/apidocs-4.9/apis/createRemoteAccessVpn.html
https://cloudstack.apache.org/api/apidocs-4.9/apis/addVpnUser.html

The ```publicipid``` should be the ID of the automatically configured source NAT IP of an isolated network or maybe could be any IP that has been configured.
The ```presharedkey``` and the ```publicip``` are t

[2019-01-16 09:41] svanharmelen commented on #53
Ah, check... Adding support for this would require creating new resources, but I'm currently not working with CloudStack anymore. So I'm mostly maintaining and improving the resources that currently exist (in my own time) as I don't have time to work on new resources in my current job.

But If someone in the community wants to add this, I'm of course open to PRs 😉

[2019-01-24 21:11] cezarsa opened #57 "Tags were removed from resources"
In f85ae6c6 every resource containing the `tags` field had this field and the corresponding logic commented out. This code remains commented out on the current master and I wasn't able to find any mention to the fact on the documentation or the release nodes.

Some examples of commented code blocks are:
https://github.com/terraform-providers/terraform-provider-cloudstack/blob/ff819b4ab46e143a33381

[2019-03-11 17:21] Dan-Wolfy opened #58 "Error creating the new instance test: json: cannot unmarshal string into Go struct field DeployVirtualMachineResponse.ostypeid of type int64"
Hi there,

Sorry if this has been mentioned before can't see anything that relates that has been done lately. Guessing its a API mis-match on expected and returned data but could be wrong.

### Terraform Version
Terraform v0.11.11
+ provider.cloudstack v0.1.5
or tried provider.cloudstack v0.1.7

on docker cloudstack/simulator:latest running cloudstack 4.12.0.0-SNAPSHOT

### Affected Resource(s)
cl

[2019-03-11 17:38] svanharmelen commented on #58
Sorry to hear you are having issues with the CloudStack provider @Dan-Wolfy. This provider currently supports CloudStack <= 4.11.2.0. We try to make it be as backwards compatible as possible, but since API changes are pretty common in the CloudStack API this sometimes isn't possible.

As for your test case, I see you are trying to use the provider with CloudStack 4.12.0.0 which isn't released yet.

[2019-03-11 17:43] Dan-Wolfy commented on #58
@svanharmelen Cheers for the quick responce, would it be possible to put in the change log the supported version of cloud stack, not sure if it is me but can't seem to see it listed any where. Will retest with the simulator at 4.11.2 thanks

[2019-03-11 18:15] svanharmelen commented on #58
You are correct that it's not specifically mentioned, will do that the next time that we update the supported version. As for now, we actually support all current versions. Probably older versions will not work (correctly) anymore but I don't have a way to tell which versions that are exactly.

[2019-03-11 18:32] svanharmelen commented on #58
Closing this as there is nothing to fix for this at the moment. Feel free to reopen the issue if you have a need for it.

[2019-03-11 18:32] #58 closed

[2019-03-12 15:39] 3guboff opened #59 "Cannot upload image for template with from URL ending .img"
### Terraform Version
[code]

### Affected Resource(s)
- cloudstack_template

### Terraform Configuration Files
[code]

### Output
[code]

### Expected Behavior
Image must be uploaded successfully, even if file from URL with extension **img**

### Actual Behavior
invalid for the format qcow2

[2019-03-12 16:02] svanharmelen commented on #59
@3guboff the error you are seeing comes directly from the CS API, so I'm not sure if this is a bug/issue with the template resource.

Did you try to upload the same template manually? And if so, are you a 100% sure that you are using the same settings in here as that you did when uploading it manually (as I notice the format is set to qcow2)?

[2019-03-13 08:15] 3guboff commented on #59
@svanharmelen You right man, I'm tryed upload in UI and it's look like this fcking cloudstack have this bug (or feature).

[2019-03-13 08:27] #59 closed

[2019-03-25 10:01] 3guboff opened #62 "Add new resource: Project"
Hi,

Would be really good, if someone can add resource - Project  (cloudstack_project) for better experience in using CS provider. It's important resource because almost always new environment in CS starting from this step.

Thank you for reviewing this issue.

[2019-03-25 10:15] svanharmelen commented on #62
Hi @3guboff! Adding support for this would require creating a new resource, but I'm currently not working with CloudStack anymore. So I'm mostly maintaining and improving the resources that already exist (in my own time) as I don't have time to work on new resources in my current job.

But If someone in the community wants to add this, I'm of course open to PRs 😉

[2019-03-29 07:54] 3guboff commented on #62
Ok @svanharmelen, I'm started development new resource - **project** and it's almost done.

[2019-07-14 10:17] #57 closed

[2019-08-23 13:48] mmaldonado-wtsh opened #66 "Fix documentation for cloudstack_loadbalancer_rule"
Hi,

Changing member_ids does not force a new resource to be created, despite what the documentation mentions.

Regards,

[2019-08-26 11:13] gurubert opened #67 "API version too old"
Hi,

Running terraform 0.12.7 with the current cloudstack provider gives me the following error:

Error: Failed to instantiate provider "cloudstack" to obtain schema: Incompatible API version with plugin. Plugin version: 4, Client versions: [5]

Our provider updated their cloudstack installation to 4.11.1.0 recently.

What can we do?

[2019-08-26 12:50] svanharmelen commented on #67
Can you post back the output of `terraform version`?

[2019-08-26 12:58] gurubert commented on #67
Dang, that was it. I still had the 0.2 version of the cloudstack provider installed. "rm -rf .terraform" and a terraform init installed version 0.3 which has no issues talking to the newer cloudstack API.

[2019-08-26 12:58] #67 closed

[2019-08-26 15:01] svanharmelen commented on #67
Cool! Good to hear that works as expected with the latest version 👍

[2019-09-30 23:51] csquire commented on #57
Can we please get a release that includes this PR?

[2019-12-21 01:20] ghost opened #72 "Error retrieving ID of template: json: cannot unmarshal object into Go struct field alias.childtemplates of type []interface {}"
_This issue was originally opened by @1605200517 as hashicorp/terraform#23726. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

No debug output recognizable despite `TF_LOG=

[2019-12-21 08:35] greut commented on #72
@1605200517 It is likely that the CloudStack you're using is older than the library this provider was generated from. childtemplates exist in the latest releases.

[2019-12-22 08:36] 1605200517 commented on #72
@greut  thank you for quick feedback; please share which library do you mean in your reference. CS API in use is 4.10.

[2019-12-22 10:15] greut commented on #72
4.10 doesn't have the `childtemplates`, http://cloudstack.apache.org/api/apidocs-4.10/apis/listTemplates.html

The library used by this provider does however, https://godoc.org/github.com/xanzy/go-cloudstack/cloudstack#Template as it's based on CloudStack 4.11

[2019-12-23 08:59] 1605200517 commented on #72
from end user point of view, it would be nice to have some sync at terraform init with the provider API; something like

`"WARNING: this version supports provider API version starting from.. and you have..."`

[2019-12-23 09:05] greut commented on #72
@1605200517 Agreed. I see you're familiar with the problems _go-cloudstack_ has https://github.com/xanzy/go-cloudstack/issues I'd fork it and put the `omitempty` flag on that value `json:"childtemplates,omitempty"`

[2019-12-23 09:18] svanharmelen commented on #72
We can also try to make it backwards compatible as I try to do for most changes like this. But indeed there are some sharp edges coming from both the way I build `go-cloudstack` (which was one of my first Go project many many years ago) and how the CloudStack API works...

[2020-02-26 20:39] ckayhuo opened #73 "Cannot pass data to custom service-offering"
Hi all,
Terraform Cloudstack Provider is unable to pass arguments for custom compute offering on CloudStack. To use a custom compute offering it has to provide the following three arguments but in the CS provider there is no way we can pass them to the server.

details[0].cpuNumber: 2
details[0].cpuSpeed: 2000
details[0].memory: 2000

### Terraform Version
Terraform v0.12.18

### Affected Resource

[2020-05-11 13:05] gurubert opened #74 "cloudstack_port_forward does not work"
Hi,

### Terraform Version
Terraform v0.12.24
+ provider.cloudstack v0.3.0

### Affected Resource(s)
- cloudstack_port_forward

### Panic Output
[code]

### Expected Behavior
The port forwarding has been created without an error in terraform's execution.

### Actual Behavior
The port forwarding has been created, but terraform throws an error.

[2020-05-11 13:26] gurubert commented on #74
The resource `cloudstack_firewall` has the same issue.

[2020-05-11 17:52] svanharmelen commented on #74
Does this happen with older versions of TF as well? Say the latest 0.11.x and/or an early 0.12.x?

And which version of CloudStack are you using?

[2020-05-12 08:44] gurubert commented on #74
We are running CloudStack 4.11

Terraform 0.12.1 has the same issue. I am not able to test with Terraform 0.11, as the configuration has already been migrated.

[2020-05-17 14:46] apevrier opened #75 "Add cloudstack_network datasource"
Hello,

In order to support deployment strategies where networks are managed independently from instances, having a network datasource would be quite useful.

This enhancement would use a syntax similar to the currently existing cloudstack_template datasource :
[code]

[2020-06-23 16:24] martialblog commented on #72
Hi, if someone needs a quick workaround for this. This patch will simply remove the childtemplate code and then the provider works with 4.10 (couldn't upload a .patch file, just rename it).

[0001-Remove-ChildTemplate-to-ensure-works-with-CloudStack.txt](https://github.com/terraform-providers/terraform-provider-cloudstack/files/4820617/0001-Remove-ChildTemplate-to-ensure-works-with-CloudStack.txt)

[2020-12-01 22:12] Lucasgranet opened #79 "Terraform doesn't work with ASC 4.15"
Hi there,

### Terraform Version
Terraform v0.13.5
+ provider registry.terraform.io/hashicorp/null v3.0.0
+ provider registry.terraform.io/terraform-providers/cloudstack v0.3.0

### Affected Resource(s)
At least:
- cloudstack_security_group
- cloudstack_instance

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Con

[2021-07-26 11:52] svanharmelen commented on #79
I'm going to close this issue as I'm about to archive this repository. Development of this provider has been moved to the Apache Foundation. Please find the new home for this provider here: https://github.com/apache/cloudstack-terraform-provider

[2021-07-26 11:52] #79 closed

[2021-07-26 11:53] svanharmelen commented on #75
I'm going to close this issue as I'm about to archive this repository. Development of this provider has been moved to the Apache Foundation. Please find the new home for this provider here: https://github.com/apache/cloudstack-terraform-provider

[2021-07-26 11:53] #75 closed

[2021-07-26 11:53] svanharmelen commented on #73
I'm going to close this issue as I'm about to archive this repository. Development of this provider has been moved to the Apache Foundation. Please find the new home for this provider here: https://github.com/apache/cloudstack-terraform-provider

[2021-07-26 11:53] #73 closed

[2021-07-26 11:53] svanharmelen commented on #72
I'm going to close this issue as I'm about to archive this repository. Development of this provider has been moved to the Apache Foundation. Please find the new home for this provider here: https://github.com/apache/cloudstack-terraform-provider

[2021-07-26 11:53] #72 closed

[2021-07-26 11:53] svanharmelen commented on #1
I'm going to close this issue as I'm about to archive this repository. Development of this provider has been moved to the Apache Foundation. Please find the new home for this provider here: https://github.com/apache/cloudstack-terraform-provider

[2021-07-26 11:53] #1 closed

[2021-07-26 11:53] svanharmelen commented on #53
I'm going to close this issue as I'm about to archive this repository. Development of this provider has been moved to the Apache Foundation. Please find the new home for this provider here: https://github.com/apache/cloudstack-terraform-provider

[2021-07-26 11:53] #53 closed

[2021-07-26 11:53] svanharmelen commented on #62
I'm going to close this issue as I'm about to archive this repository. Development of this provider has been moved to the Apache Foundation. Please find the new home for this provider here: https://github.com/apache/cloudstack-terraform-provider

[2021-07-26 11:53] #62 closed

[2021-07-26 11:54] svanharmelen commented on #66
I'm going to close this issue as I'm about to archive this repository. Development of this provider has been moved to the Apache Foundation. Please find the new home for this provider here: https://github.com/apache/cloudstack-terraform-provider

[2021-07-26 11:54] #66 closed

[2021-07-26 11:54] svanharmelen commented on #74
I'm going to close this issue as I'm about to archive this repository. Development of this provider has been moved to the Apache Foundation. Please find the new home for this provider here: https://github.com/apache/cloudstack-terraform-provider

[2021-07-26 11:54] #74 closed

[2021-07-26 11:54] svanharmelen commented on #31
I'm going to close this issue as I'm about to archive this repository. Development of this provider has been moved to the Apache Foundation. Please find the new home for this provider here: https://github.com/apache/cloudstack-terraform-provider

[2021-07-26 11:54] #31 closed